.modal-header {
  h3 {
    color: $color__font_h1;
    font-size:2.5em;
  }
}
.modal-title {
  color: $color__font_h2;
  font-size: 1em;
}
.modal-rating {
  margin: 1em 0;
}
.modal-payment-value {
  color: $color__font_h1;
  font-size: 3.5em;
}
