.pagination {
    display: inline-block;
    padding-left: 0;
    margin: $pag__height 0;

    > li {
        display: inline;

        > a,
        > span {
            position: relative;
            float: left;
            margin-left: 4px;
            padding: $padding-base-vertical $padding-base-horizontal;
            font-weight: 700;
            line-height: $line-height-base;
            text-decoration: none;
            color: $color__font_pag;
            border: 1px solid $color__pag-border;
            @include linearGradient($gradient__pag-normal-top, $gradient__pag-normal-bottom);
            @include rounded(3);
            box-shadow: $shadow__pag-out, $shadow__rating-in;
        }
        > a {
          cursor: pointer;
        }
    }

    > li > a {
        &:focus,
        &:hover {
            z-index: 2;
            color: $color__font_h1;
            border-color: $color__font_h1;
        }
    }
    > .active > a {
        &,
        &:focus,
        &:hover {
            z-index: 3;
            color: $color__font_pag_active;
            @include linearGradient($gradient__pag-current-top, $gradient__pag-current-bottom);
            box-shadow: $shadow__pag-current;
            cursor: default;
        }
    }
}
.disabled {
    cursor: default;
}
