.dot {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  font-size: 1em;
  font-weight: 700;
  line-height: 23px;
  border: 1px solid $gradient__rating-border-bottom;
  border-radius: 50%;
  box-shadow: $shadow__general, $shadow__rating-in;
  cursor: default;

  &:after {
    content: '£';
    display: block;
  }
}
.blue_dot {
  color: $color__font_rating_light;
  @include linearGradient($gradient__rating-blue-top, $gradient__rating-blue-bottom);
}
.grey_dot {
  color: $color__font_rating_dark;
  @include linearGradient($gradient__rating-grey-top, $gradient__rating-grey-bottom);
}
