// Search form
.form {
  margin-bottom: 20px;
}
.form-search {
  min-width:370px;
}
.form-select {
  min-width: 160px;
}
//Buttons
.btn-reset,
.btn-search {
  padding:6px 20px;
  box-shadow: none;
  border: none;
}
.btn-reset {
    @include linearGradient($gradient__btn-reset-top, $gradient__btn-reset-bottom);
    color: $color__font_btn_reset;
}
.btn-search {
    @include linearGradient($gradient__btn-search-top, $gradient__btn-search-bottom);
    color: $color__font_btn_search;
}
