// Background color
$color__bg: #fdfdfd;

// HR
$color__hr: #e0e0e0;

// Table
$color__table-border-out: #d2d5d7;
$color__table-border-in: #e0e0e0;
$color__table-border-light: #fefefe;

// pagination
$color__pag-border: #afafaf;
