// Header colors

$color__font_h1: #2288b7;
$color__font_h2: #3b3b3b;


// Form colors

$color__font_btn_reset: #494949;
$color__font_btn_search: #fdfdfd;
$color__font_input_search: #3b3b3b;
$color__font_input_search_ph: #999999;


// Table colors

$color__font_th: #666666;
$color__font_tr: #555555;

$color__font_rating_light: #fdfdfd;
$color__font_rating_dark: #666666;


// Pagination

$color__font_pag: #717171;
$color__font_pag_active: #f2f2f2;
