// Table gradient

$gradient__table-thead-top: rgba(236,237,238,1);
$gradient__table-thead-bottom: rgba(232,233,234,1);

$gradient__table-tr-top: #f8f8f8;
$gradient__table-tr-bottom: #f6f6f6;

// Rating gradients

$gradient__rating-blue-top: #62bfea;
$gradient__rating-blue-bottom: #3366cc;

$gradient__rating-grey-top: #ffffff;
$gradient__rating-grey-bottom: #dadcdc;

$gradient__rating-border-top: #8a8a8a;
$gradient__rating-border-bottom: #767676;

// Buttons gradients

$gradient__btn-search-top: #6ba1f3;
$gradient__btn-search-bottom: #1f76f0;

$gradient__btn-reset-top: #f2f2f2;
$gradient__btn-reset-bottom: #c4c4c4;

// Pagination

$gradient__pag-normal-top: #f9f9f9;
$gradient__pag-normal-bottom: #eaeaea;

$gradient__pag-current-top: #696969;
$gradient__pag-current-bottom: #616161;
