$shadow__general: 0px 1px 3px 1px rgba(0,0,0,0.08);

// App body shadows

$shadow__app-body: 0px 0px 0px 8px rgba(0, 0, 0, 0.05), 0px 0px 4px 1px rgba(0,0,0,0.3);


// Table shadows

$shadow__table-thead-in: inset 0px 1px 1px 0px rgba(255,255,255,1);
$shadow__table-thead-out: 0px 1px 1px 0px rgba(0,0,0,0.05);

$shadow__rating-in: inset 0px 1px 1px 0px rgba(255,255,255,1);

$shadow__table-tr-hover: inset 0px 0px 10px 0px rgba(34,136,183,1);


// Paginaton shadows

$shadow__pag-current: inset 0px 0px 5px 1px rgba(0,0,0,0.4);
$shadow__pag-out: 0px 1px 2px 0px rgba(0,0,0,0.12);
