body {
  background-image: url('../images/bg.jpg');
  font-family: 'Source Sans Pro', sans-serif;
}

.app_body, .modal-dialog {
  margin-top: 10vh;
  background-color: $color__bg;
  border-radius: 4px;
  box-shadow: $shadow__app-body;
}

@media (max-width: 767px) {
  .app_body { margin-top: 0; }
}
