header.app_header {
  > h1 {
    color: $color__font_h1;
    font-size: 3.750em;
    font-weight: 300;
  }
  >h2 {
    color: $color__font_h2;
    font-size: 1.2em;
    font-weight: 400;
  }

  hr {
    background-color: $color__hr;
  }
}

@media (max-width: 767px) {
  header.app_header > h1 { font-size: 2.25em}
  header.app_header > h2 { font-size: 1em}
}
