table.app_table {
  border: 1px solid $color__table-border-out;
  border-collapse: separate;
  border-radius: 4px;
  box-shadow: $shadow__general;
  > thead {
    height: 60px;
    @include linearGradient($gradient__table-thead-top, $gradient__table-thead-bottom);
    box-shadow: $shadow__table-thead-out, $shadow__table-thead-in;
    > tr {
      > th {
        color: $color__font_th;
        vertical-align: middle;
        border-top: 1px solid $color__table-border-light;
        border-bottom: none;
        &:first-child {
          padding-left: 30px;
        }
      }
    }
  }
  tbody {
    tr {
      height: 50px;
      color: $color__font_tr;
      border-top: 1px solid $color__table-border-light;
      border-bottom: 1px solid $color__table-border-in;
      box-shadow: $shadow__rating-in;
      &:last-child {
        border-bottom: none;
      }
      &:nth-child(even){
        @include linearGradient($gradient__table-tr-top, $gradient__table-tr-bottom);
      }
      &:hover {
        @include linearGradient($gradient__table-thead-top, $gradient__table-thead-bottom);
        cursor: pointer;
      }
      td {
        vertical-align: middle;
        border-right: 1px solid $color__table-border-in;
        &:first-child {
          padding-left: 30px;
        }
        &:last-child {
          padding-right: 30px;
          border-right: none;
        }
      }
    }
  }
}
